<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      	<tr><td>20 March</td><td><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organisation in spreadsheets</a></td></tr>
      	<tr><td>27 March</td> <td> <a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine</a></td></tr>
	<tr><td>3 April</td> <td> <a href="http://www.datacarpentry.org/R-ecology-lesson/">Data analysis and visualisation in R</a></td></tr>
	<tr><td>10 April</td> <td> <a href="http://www.datacarpentry.org/R-ecology-lesson/">Data analysis and visualisation in R</a></td></tr>	
	<tr><td>17 April</td> <td> <a href="http://www.datacarpentry.org/R-ecology-lesson/">Data analysis and visualisation in R</a></td></tr>	
	<tr><td>24 April</td> <td> <a href="http://www.datacarpentry.org/R-ecology-lesson/">Data analysis and visualisation in R</a></td></tr>	
    </table>
  </div>
</div>
