<p id="who">
  <strong>Who:</strong>
  The course is aimed at those who have participated in any Carpentry instructor training event and who is currently based in Africa - specifically South Africa. The purpose of the workshop is two-fold: (i) to provide an opportunity to learn new tools or get a refresher with the aim of expanding teaching opportunities as; and (ii) to provide an opportunity for instructors to see how Carpentry teaching practices are incorporated.
  <strong>
    You must have participated in Carpentry Instructor Training but do not need to be a qualified instructor yet.
  </strong>
</p>
